<a href="https://colab.research.google.com/github/taufiq-2004/Data-science-portfolio/blob/main/Day4_SQL_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import sqlite3
import pandas as pd

conn=sqlite3.connect(":memory:")
cursor=conn.cursor()

In [15]:
cursor.execute("""
CREATE TABLE students(
  id Integer Primary Key,
  name Text,
  age Integer,
  class_id Integer
)
""")


cursor.execute("""
CREATE TABLE classes(
  id Integer Primary Key,
  class_name Text
)
""")


cursor.executemany("INSERT INTO classes VALUES(?,?)",
                   [
                       (1, "Maths"),
                       (2, "Science"),
                       (3, "History")
                   ]
                   )
cursor.executemany("INSERT INTO students VALUES(?, ?, ?, ?)",
                   [
                       (1, "Alice", 14, 1),
                       (2, "Bob", 15, 2),
                       (3, "Charlie", 14, 1),
                       (4, "David", 16, 3),
                       (5, "Eva", 15, 2)

                   ])
conn.commit()

OperationalError: table students already exists

In [18]:
def run_query(q):
  return pd.read_sql_query(q, conn)

Empty DataFrame
Columns: [id, name, age, class_id]
Index: []

In [21]:
run_query("SELECT * FROM students")

run_query("SELECT name, age FROM students")



run_query("SELECT * FROM students ORDER BY age DESC")

run_query("SELECT class_id, AVG(age) as avg_age FROM students GROUP BY class_id")

run_query("""
SELECT s.name, s.age, c.class_name
FROM students s
JOIN classes c ON s.class_id= c.id
""")

Empty DataFrame
Columns: [name, age, class_name]
Index: []

In [22]:
run_query("SELECT * FROM students WHERE age = 14")

Empty DataFrame
Columns: [id, name, age, class_id]
Index: []

In [24]:
run_query("SELECT class_id, COUNT(*) AS student_count FROM students GROUP BY class_id")

Empty DataFrame
Columns: [class_id, student_count]
Index: []

In [25]:
run_query("SELECT * FROM students ORDER BY age ASC LIMIT 1")

Empty DataFrame
Columns: [id, name, age, class_id]
Index: []

In [26]:
run_query("""
SELECT s.name, s.age, c.class_name
FROM students s
JOIN classes c ON s.class_id=c.id
WHERE c.class_name="Science"
 """)

Empty DataFrame
Columns: [name, age, class_name]
Index: []

In [28]:
run_query("""
SELECT c.class_name, AVG(s.age) AS avg_age
FROM students s
JOIN classes c ON s.class_id=c.id
GROUP BY c.class_name
ORDER BY avg_age DESC
""")

Empty DataFrame
Columns: [class_name, avg_age]
Index: []