<a href="https://colab.research.google.com/github/taufiq-2004/Data-science-portfolio/blob/main/Day5_Probability_Stats.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
from scipy import stats
import pandas as pd

data=[7,6,5,7,34,5,6,4,6,3,6,72,4,5,9]

print("Mean:", np.mean(data))

print("Median: ", np.median(data))

print("Mode: ", stats.mode(data, keepdims=True))

print("Variance", np.var(data))

print("Standard Deviation: ", np.std(data))

print("25th Percentile: ", np.percentile(data, 25))
print("50th Percentile: ", np.percentile(data, 50))
print("75th Percentile: ", np.percentile(data, 75))

Q1=np.percentile(data, 25)
Q3=np.percentile(data, 75)
IQR=Q3-Q1
print("IQR: ", IQR)

Mean: 11.933333333333334
Median:  6.0
Mode:  ModeResult(mode=array([6]), count=array([4]))
Variance 309.5288888888889
Standard Deviation:  17.593433118322555
25th Percentile:  5.0
50th Percentile:  6.0
75th Percentile:  7.0
IQR:  2.0

In [5]:
import random

tosses=[random.choice(['Heads', 'Tails'])for _ in range(10)]
print(tosses)

toss=[random.choice(['H','T'])for _ in range(1000)]
prob_heads=toss.count('H')/ len(toss)
print("P(Heads): ", prob_heads)

['Tails', 'Heads', 'Heads', 'Heads', 'Heads', 'Tails', 'Heads', 'Heads', 'Tails', 'Tails']
P(Heads):  0.514

In [9]:
import seaborn as sns

df=sns.load_dataset("titanic")



df=df.dropna(subset=['age'])

print("Mean age", df['age'].mean())
print("Median age", df['age'].median())
print("Standard Deviation age", df['age'].std())
print("IQR age", df['age'].quantile(0.75)-df['age'].quantile(0.25))

p_survived=df['survived'].mean()
p_male=(df['sex']=='male').mean()
p_female=(df['sex']=='female').mean()
p_female_survivded=df[(df['sex']=='female') & (df['survived']==1)].shape[0]/ df.shape[0]


print("Probability Survived: ", p_survived)
print("Probability Male: ", p_male)
print("Probability Female: ", p_female)
print("Female Survival: ", p_female_survivded)

Mean age 29.69911764705882
Median age 28.0
Standard Deviation age 14.526497332334044
IQR age 17.875
Probability Survived:  0.4061624649859944
Probability Male:  0.634453781512605
Probability Female:  0.36554621848739494
Female Survival:  0.2759103641456583

Find mean, median, and mode of passenger fares.

In [15]:
print("Mean Fare", df['fare'].mean())
print("Median Fare", df['fare'].median())
print("Mode Fare", df['fare'].mode()[0])

Mean Fare 34.694514005602244
Median Fare 15.7417
Mode Fare 13.0

In [11]:
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

Compute the probability that a passenger was male.

In [17]:
p_male=(df['sex']=='male').mean()
print("P(Male)", p_male)

P(Male) 0.634453781512605

Compute the probability that a passenger survived given they were in 1st class.

In [23]:
p_fclass=df[df['class']=='First']


p_survived_fclass=p_fclass['survived'].mean()
print("P(Survived In First Class)", p_survived_fclass)

P(Survived In First Class) 0.6559139784946236

Find the 25th and 75th percentile of age.

In [25]:
q25=df['age'].quantile(0.25)
q75=df['age'].quantile(0.75)

print("25th Percentile of age: ", q25)
print("75th percentile of age: ", q75)

25th Percentile of age:  20.125
75th percentile of age:  38.0

Compute the **variance of passenger ages

In [26]:
var_age=df['age'].var()
print("Variance of Age", var_age)

Variance of Age 211.0191247463081