<a href="https://colab.research.google.com/github/taufiq-2004/Data-science-portfolio/blob/main/Day__1_python_Refresh.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
x=10
y=3.2
name="Taufiq"
is_learning=True

print(type(x), type(y), type(name), type(is_learning))

<class 'int'> <class 'float'> <class 'str'> <class 'bool'>

In [ ]:
nums=[1,2,3,4,5,6]
for n in nums:
  print(n, n**2)

1 1
2 4
3 9
4 16
5 25
6 36

In [ ]:
from statistics import median
def mean_median(values):
  import statistics
  mean=statistics.mean(values)
  median=statistics.median(values)
  return mean, median


n=[4,45,3,35,6,2,53,2,5,2]
print(mean_median(n))

(15.7, 4.5)

In [ ]:
squares=[n**2 for n in range(1,11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]